/* line 5, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* line 11, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
h2, h3 {
  margin: 0 0 20px 0;
}

/* line 14, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
h1, h3, p, ul li {
  color: #fff !important;
}

/* line 17, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
h1 {
  margin: 20px 0;
}

/* line 20, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
#landing h1 {
  opacity: 0;
  transition: .8s;
  position: relative;
  right: 100px;
}

/* line 26, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
#landing h1.show {
  opacity: 1;
  right: 0;
}

/* line 30, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
#landing p {
  opacity: 0;
  transition: .8s;
}

/* line 34, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
h2 {
  color: #111;
  border-bottom: 1px solid #111;
  width: 100%;
}

/* line 39, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
a {
  background-color: #ff1f8a !important;
  color: #111 !important;
  padding: 2px;
  transition: .2s;
}

/* line 45, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
a:hover {
  background-color: #d8ff0a !important;
  text-decoration: none !important;
}

/* line 49, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
nav {
  position: fixed;
  height: 100vh;
  width: 100vw;
  /*background:hsla(279, 100%, 52%, 0.85);*/
  background: rgba(216, 255, 10, 0.85);
  z-index: 2;
  display: none;
  opacity: 0;
  transition: .8s;
}

/* line 59, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
nav ul {
  text-align: center;
}

/* line 61, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
nav ul li {
  font-size: 50px;
}

/* line 66, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.main-purple {
  background: #ab0bff;
}

/* line 69, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.secondary-purple {
  background: #a73afc;
}

/* line 72, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.tertiary-purple {
  background: #b748ff;
}

/* line 75, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.padding {
  padding: 20px;
}

/* line 78, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.flex {
  display: flex;
}

/* line 81, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.center {
  align-self: center;
}

/* line 84, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.fullwide {
  width: 100%;
}

/* line 87, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.fullheight {
  height: 100%;
}

/* line 90, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.left {
  float: left;
}

/* line 93, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.right {
  float: right;
}

/* line 96, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.image img {
  width: 100%;
  max-width: 800px;
}

/* line 100, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
section:not(.with-title) > div {
  height: 100%;
}

/* line 103, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
div.column {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

/* line 108, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
section#landing img {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

/* line 114, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
section#specs {
  position: relative;
}

/* line 117, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
section#specs #webdev h3, section#specs #media h3 {
  text-align: center;
}

/* line 121, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
section#specs img {
  width: 100%;
  max-width: 200px;
  padding-bottom: 20px;
  margin: 0 auto;
  display: block;
}

/* line 129, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
section#portfolio {
  position: relative;
}

/* line 131, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
section#portfolio .portfolio-item .center {
  margin: 0 auto;
}

/* line 135, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
div.title {
  margin-bottom: 20px;
}

/* line 138, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
div.content {
  width: 100%;
}

/* line 141, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
#hamburger, #closex {
  position: fixed;
  top: 0;
  right: 0;
  border: none;
  padding: 0;
  z-index: 2;
  width: 40px;
  height: 40px;
}

@media all and (max-width: 767px) {
  /* line 156, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  h1, h2 {
    font-size: 30px;
  }
  /* line 159, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  h3 {
    font-size: 20px;
  }
  /* line 162, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  p {
    font-size: 15px;
  }
}

@media all and (min-width: 768px) {
  /* line 168, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  h1 {
    font-size: 50px;
  }
  /* line 171, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  h2 {
    font-size: 30px !important;
  }
  /* line 174, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  h3 {
    font-size: 25px;
  }
  /* line 177, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  p {
    font-size: 18px;
  }
  /* line 180, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  .padding {
    padding: 40px;
  }
  /* line 183, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  div.title {
    padding: 0;
    top: 40px;
  }
  /* line 188, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  section#specs .content {
    display: flex;
  }
}

@media all and (min-width: 992px) {
  /* line 195, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  nav ul li {
    font-size: 80px;
  }
  /* line 198, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  .portfolio-item {
    display: flex;
  }
}

@media all and (min-height: 750px) and (min-width: 992px) {
  /* line 204, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  section:not(.slider) {
    height: 100vh;
  }
  /* line 207, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  .flex-desktop {
    display: flex;
  }
  /* line 210, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  .flex-desktop > div {
    align-self: center;
  }
  /* line 213, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  div.title {
    position: absolute;
    padding: 0 40px;
    top: 40px;
    left: 0;
    right: 0;
  }
}

/*# sourceMappingURL=../css/styles.map */