/* line 5, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* line 11, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
h2, h3 {
  margin: 0 0 20px 0;
}

/* line 14, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
h1, h3, p, ul li {
  color: #fff !important;
}

/* line 17, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
h1 {
  margin: 20px 0;
}

/* line 20, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
#landing h1, #contact h1 {
  opacity: 0;
  transition: .8s;
  position: relative;
}

/* line 25, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
#landing h1 {
  right: 100px;
}

/* line 28, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
#contact h1 {
  left: 100px;
}

/* line 31, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
#landing h1.show {
  opacity: 1;
  right: 0;
}

/* line 35, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
#contact h1.show {
  opacity: 1;
  left: 0;
}

/* line 39, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
#landing p {
  opacity: 0;
  transition: .8s;
}

/* line 43, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
h2 {
  color: #111;
  border-bottom: 1px solid #111;
  width: 100%;
}

/* line 48, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
a:not(.box), .btn {
  background-color: #ff1f8a !important;
  color: #111 !important;
  padding: 2px;
  transition: .2s;
  border-radius: 0;
  border: none;
}

/* line 56, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
a:not(.box):hover {
  background-color: #d8ff0a !important;
  text-decoration: none !important;
}

/* line 60, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
nav {
  position: fixed;
  height: 100vh;
  width: 100vw;
  /*background:hsla(279, 100%, 52%, 0.85);*/
  background: rgba(216, 255, 10, 0.85);
  z-index: 3;
  display: none;
  opacity: 0;
  transition: .8s;
}

/* line 70, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
nav ul {
  text-align: center;
}

/* line 72, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
nav ul li {
  font-size: 50px;
}

/* line 77, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.main-purple {
  background: #ab0bff;
}

/* line 80, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.secondary-purple {
  background: #a73afc;
}

/* line 83, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.tertiary-purple {
  background: #b748ff;
}

/* line 86, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.padding {
  padding: 20px;
}

/* line 89, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.flex {
  display: flex;
}

/* line 92, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.center {
  align-self: center;
}

/* line 95, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.fullwide {
  width: 100%;
}

/* line 98, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.fullheight {
  height: 100%;
}

/* line 101, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.left {
  float: left;
}

/* line 104, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.right {
  float: right;
}

/* line 107, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.bx-wrapper .bx-controls-direction a {
  bottom: 50%;
}

/* line 110, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.bx-controls-direction a:hover {
  opacity: 1;
}

/* line 113, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.bx-wrapper .bx-prev {
  left: -20px;
}

/* line 116, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.bx-wrapper .bx-next {
  right: -20px;
}

/* line 119, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
.image img {
  width: 100%;
  max-width: 800px;
}

/* line 123, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
section > div {
  height: 100%;
}

/* line 126, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
div.column {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

/* line 131, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
section#landing img {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

/* line 137, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
section#specs {
  position: relative;
}

/* line 140, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
section#specs #webdev h3, section#specs #media h3 {
  text-align: center;
}

/* line 144, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
section#specs img {
  width: 100%;
  max-width: 200px;
  padding-bottom: 20px;
  margin: 0 auto;
  display: block;
  opacity: 0;
  transition: .8s;
  position: relative;
  bottom: 100px;
}

/* line 155, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
section#specs img.show {
  bottom: 0;
  opacity: 1;
}

/* line 160, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
section#portfolio {
  position: relative;
}

/* line 162, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
section#portfolio .portfolio-item {
  height: 100% !important;
}

/* line 165, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
section#portfolio .portfolio-item:not(:last-of-type) {
  margin-bottom: 40px;
}

/* line 168, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
section#portfolio .portfolio-item .center {
  margin: 0 auto;
}

/* line 171, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
section#portfolio #portfolio-wrap {
  height: 100%;
}

/* line 175, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
#hamburger, #closex {
  position: fixed;
  top: 0;
  right: 0;
  border: none;
  padding: 0;
  z-index: 3;
  width: 40px;
  height: 40px;
}

@media all and (max-width: 767px) {
  /* line 189, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  h1, h2 {
    font-size: 30px;
  }
  /* line 192, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  h3 {
    font-size: 20px;
    margin-top: 0;
  }
  /* line 196, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  p {
    font-size: 15px;
  }
  /* line 199, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  section#specs img {
    max-width: 125px;
  }
  /* line 202, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  .bx-wrapper .bx-controls-direction a {
    opacity: .6;
  }
  /* line 205, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  .portfolio-item:not(:last-of-type) {
    margin-bottom: 20px !important;
  }
  /* line 208, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  .lb-nav a.lb-prev, .lb-nav a.lb-next {
    opacity: 1 !important;
  }
}

@media all and (min-width: 768px) {
  /* line 214, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  h1 {
    font-size: 50px;
  }
  /* line 217, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  h2 {
    font-size: 30px !important;
  }
  /* line 220, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  h3 {
    font-size: 25px;
  }
  /* line 223, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  p {
    font-size: 18px;
  }
  /* line 226, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  .padding {
    padding: 40px;
  }
  /* line 229, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  .bx-wrapper .bx-prev {
    left: -40px;
  }
  /* line 232, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  .bx-wrapper .bx-next {
    right: -40px;
  }
  /* line 235, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  div.title {
    padding: 0;
    top: 40px;
  }
  /* line 240, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  section#specs #content {
    display: flex;
  }
}

@media all and (min-width: 992px) {
  /* line 248, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  nav ul li {
    font-size: 80px;
  }
  /* line 251, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  .portfolio-item {
    display: flex;
  }
  /* line 254, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  .portfolio-item:not(:last-of-type) {
    margin-bottom: 0;
  }
}

@media all and (min-height: 750px) and (min-width: 992px) {
  /* line 259, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  section:not(.slider) {
    height: 100vh;
  }
  /* line 262, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  .flex-desktop {
    display: flex;
  }
  /* line 265, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  .flex-desktop > div {
    align-self: center;
  }
  /* line 268, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  div.title {
    position: absolute;
    padding: 0 40px;
    top: 40px;
    left: 0;
    right: 0;
  }
  /* line 275, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  .bx-viewport {
    height: 100% !important;
  }
  /* line 278, C:/Users/Redias/Documents/mylesmalloy/scss/styles.scss */
  .portfolio-item {
    padding-bottom: 40px;
  }
}

/*# sourceMappingURL=../css/styles.map */