$main-purple : #ab0bff;
$secondary-purple : #a73afc;
$tertiary-purple : #b748ff;

* {	
	padding:0; 
	margin:0; 
	box-sizing:border-box;
	font-family:Arial, sans-serif;
}
h2, h3 {
	margin:0 0 20px 0;
}
h1, h3, p, ul li {
	color:#fff!important;
}
h1 {
	margin:20px 0;
}
#landing h1, #contact h1{
	opacity:0;
	transition:.8s;
	position:relative;
}
#landing h1 {
	right:100px;
}
#contact h1 {
	left:100px;
}
#landing h1.show {
	opacity:1;
	right:0;
}
#contact h1.show {
	opacity:1;
	left:0;
}
#landing p {
	opacity:0;
	transition:.8s;
}
h2 {
	color:#111;
	border-bottom:1px solid #111;
	width:100%;
}
a:not(.box), .btn {
	background-color:#ff1f8a!important;
	color:#111!important;
	padding:2px;
	transition:.2s;
	border-radius:0;
	border:none;
}
a:not(.box):hover{
	background-color:rgb(216, 255, 10)!important;
	text-decoration:none!important;
}
nav {
	position:fixed;
	height:100vh;
	width:100vw;
	/*background:hsla(279, 100%, 52%, 0.85);*/
	background:rgba(216, 255, 10, 0.85);
	z-index:3;
	display:none;
	opacity:0;
	transition:.8s;
	ul {
		text-align:center;
		list-style-type:none;
		li {
			font-size:50px;
		}
	}
}
.main-purple {
	background: $main-purple;
}
.secondary-purple {
	background: $secondary-purple;
}
.tertiary-purple {
	background: $tertiary-purple;
}
.padding {
	padding:20px;
}
.flex {
	display:flex;
}
.center {
	align-self:center;
}
.fullwide {
	width:100%;
}
.fullheight {
	height:100%;
}
.left {
	float:left;
}
.right {
	float:right;
}
.bx-wrapper .bx-controls-direction a  {
	bottom:50%;
}
.bx-controls-direction a:hover {
	opacity:1;
}
.bx-wrapper .bx-prev {
	left: -20px;
}
.bx-wrapper .bx-next {
	right: -20px;
}
.image img{
	width:100%;
	max-width:800px;
}
section > div {
	height:100%;
}
div.column {
	width:100%;
	max-width:480px;
	margin:0 auto;
}
section#landing img {
	width:100%;
	max-width:300px;
	display:block;
	margin:0 auto;
}
section#specs {
	position:relative;
	#webdev, #media {
		h3 {
			text-align:center;
		}
	}
	img {
		width:100%;
		max-width:200px;
		padding-bottom:20px;
		margin:0 auto;
		display:block;
		opacity:0;
		transition:.8s;
		position:relative;
		bottom:100px;
	}
	img.show {
		bottom:0;
		opacity:1;
	}
}
section#portfolio {
	position:relative;
	.portfolio-item:not(:last-of-type) {
		margin-bottom:40px;
	}	
	.portfolio-item .center {
		margin:0 auto;
	}
	#portfolio-wrap {
		height:100%;
	}
}
#hamburger, #closex {
	position:fixed;
	top:0;
	right:0;
	border:none;
	padding:0;
	z-index:3;
	width:40px;
	height:40px;
}

//BOOTSTRAP BREAKPOINTS (WIDTH)//

@media all and (max-width: 767px) {
	h1, h2 {
		font-size:30px;
	}
	h3 {
		font-size:20px;
		margin-top:0;
	}
	p {
		font-size:16px;
	}
	section#specs img {
		max-width:125px;
	}
	.bx-wrapper .bx-controls-direction a{
		opacity:.6;
	}
	.portfolio-item:not(:last-of-type) {
		margin-bottom:20px!important;
	}
	.lb-nav a.lb-prev, .lb-nav a.lb-next {
		opacity:1!important;
	}
}

@media all and (min-width:768px) {
	h1 {
		font-size:50px;
	}
	h2 {
		font-size:30px!important;
	}
	h3 {
		font-size:25px;
	}
	p {
		font-size:20px;
	}
	.padding {
		padding:40px;
	}
	.bx-wrapper .bx-prev {
		left: -40px;
	}
	.bx-wrapper .bx-next {
		right: -40px;
	}
	div.title {
		padding:0;
		top:40px;
	}
	section#specs {
		#content {
			display:flex;
		}
	}
	
}

@media all and (min-width: 992px) {
	nav ul li {
		font-size:80px;
	}
	.portfolio-item {
		display:flex;
	}
	.portfolio-item:not(:last-of-type) {
		margin-bottom:0;
	}
}
@media all and (max-width: 991px) {
	.portfolio-item {
		height:100%!important;
	}
}
@media all and (min-height:750px) and (min-width:992px) {
	section:not(.slider) {
		height:100vh;
	}
	.flex-desktop {
		display:flex;
	}
	.flex-desktop > div {
		align-self:center;
	}
	div.title {
		position:absolute;
		padding:0 40px;
		top:40px;
		left:0;
		right:0;
	}
	.bx-viewport {
		height:100%!important;
	}
	.portfolio-item {
		padding-bottom:40px;
	}
}



