$main-purple : #ab0bff;
$secondary-purple : #a73afc;
$tertiary-purple : #b748ff;

* {	
	padding:0; 
	margin:0; 
	box-sizing:border-box;
	font-family:Arial, sans-serif;
}
h2, h3 {
	margin:0 0 20px 0;
}
h1, h3, p, ul li {
	color:#fff!important;
}
h1 {
	margin:20px 0;
}
#landing h1 {
	opacity:0;
	transition:.8s;
	position:relative;
	right:100px;
}
#landing h1.show {
	opacity:1;
	right:0;
}
#landing p {
	opacity:0;
	transition:.8s;
}
h2 {
	color:#111;
	border-bottom:1px solid #111;
	width:100%;
}
a {
	background-color:#ff1f8a!important;
	color:#111!important;
	padding:2px;
	transition:.2s;
}
a:hover {
	background-color:rgb(216, 255, 10)!important;
	text-decoration:none!important;
}
nav {
	position:fixed;
	height:100vh;
	width:100vw;
	/*background:hsla(279, 100%, 52%, 0.85);*/
	background:rgba(216, 255, 10, 0.85);
	z-index:2;
	display:none;
	opacity:0;
	transition:.8s;
	ul {
		text-align:center;
		li {
			font-size:50px;
		}
	}
}
.main-purple {
	background: $main-purple;
}
.secondary-purple {
	background: $secondary-purple;
}
.tertiary-purple {
	background: $tertiary-purple;
}
.padding {
	padding:20px;
}
.flex {
	display:flex;
}
.center {
	align-self:center;
}
.fullwide {
	width:100%;
}
.fullheight {
	height:100%;
}
.left {
	float:left;
}
.right {
	float:right;
}
.image img{
	width:100%;
	max-width:800px;
}
section:not(.with-title) > div {
	height:100%;
}
div.column {
	width:100%;
	max-width:480px;
	margin:0 auto;
}
section#landing img {
	width:100%;
	max-width:300px;
	display:block;
	margin:0 auto;
}
section#specs {
	position:relative;
	#webdev, #media {
		h3 {
			text-align:center;
		}
	}
	img {
		width:100%;
		max-width:200px;
		padding-bottom:20px;
		margin:0 auto;
		display:block;
	}
}
section#portfolio {
	position:relative;
	.portfolio-item .center {
		margin:0 auto;
	}
}
div.title {
	margin-bottom:20px;
}
div.content {
	width:100%;
}
#hamburger, #closex {
	position:fixed;
	top:0;
	right:0;
	border:none;
	padding:0;
	z-index:2;
	width:40px;
	height:40px;
}


//BOOTSTRAP BREAKPOINTS (WIDTH)//

@media all and (max-width: 767px) {  
	h1, h2 {
		font-size:30px;
	}
	h3 {
		font-size:20px;
	}
	p {
		font-size:15px;
	}
}

@media all and (min-width:768px) {
	h1 {
		font-size:50px;
	}
	h2 {
		font-size:30px!important;
	}
	h3 {
		font-size:25px;
	}
	p {
		font-size:18px;
	}
	.padding {
		padding:40px;
	}
	div.title {
		padding:0;
		top:40px;
	}
	section#specs {
		.content {
			display:flex;
		}
	}
}

@media all and (min-width: 992px) {
	nav ul li {
		font-size:80px;
	}
	.portfolio-item {
		display:flex;
	}
}

@media all and (min-height:750px) and (min-width:992px) {
	section:not(.slider) {
		height:100vh;
	}
	.flex-desktop {
		display:flex;
	}
	.flex-desktop > div {
		align-self:center;
	}
	div.title {
		position:absolute;
		padding:0 40px;
		top:40px;
		left:0;
		right:0;
	}
}


